<?xml version='1.0' encoding='utf-8'?>
<widget id="com.github.xiyalivoiyance.Bambie" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Bambie</name>
    <description>
        A game
    </description>
    <author email="xiyalivoiyance@gmail.com" href="http://xiyalivoiyance.github.io">
        XIYALIXIYA
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
